# Server Configuration
PORT=3000
NODE_ENV=development

# Database Setup
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<database_name>?retryWrites=true&w=majority

# Authentication
# Strongly recommend a 64+ character random string for production
JWT_SECRET=your_super_secret_jwt_signature_key

# AI & Search Tools (LangChain / Agents)
MISTRAL_API_KEY=your_mistral_ai_api_key_here
TAVILY_API_KEY=your_tavily_search_api_key_here

RESEND_API_KEY=your_resend_api_key_here